body {
    font-family: 'Raleway', sans-serif; 
    max-width: 1400px;
    font-size: 100%;
    margin: 0px auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration:none;
    color: inherit;
}

h1, h2 {
    font-size: 1.375rem ;
    font-weight: 700;
}

.booki-logo {
    height: 19px;
    padding: 21px 0px;
}

.navigation-menu-header {
    display: flex;
}

.navigation-menu-link {
    padding: 48px 27px 48px 27px;
    display: flex;
    justify-content: center;
}

.navigation-menu-link:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 46px;
}

.search-section {
    margin-bottom: 20px;
}

.search-section-title {
    margin-bottom: 0.5em;
}

.search-section-subtitle {
    margin-top: 0;
}

.search-container {
    display: flex;
    height: 49px;
    font-weight: 700;
    font-size: 1.125rem;
    margin: 20px 0px 32px 0px;
}

.location-icon {
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 49px;
    min-width: 50px;
    border-radius: 15px 0px 0px 15px;
}

.search-button {
    padding: 0px 16px;
    border-style: none;
    background-color: #0065FC;
    color: white;
    border-radius: 0px 15px 15px 0px;
    font-weight: inherit;
    font-size: inherit;
    display: flex;
    align-items: center;
}

#search-input {
    border-style: none;
    border-top: 1px #F2F2F2 solid;
    border-bottom: 1px #F2F2F2 solid;
    padding-left: 16px;
    font-weight: inherit;
    font-size: inherit;
    width: 16rem;
}
#search-input::placeholder {
    color: black;
    opacity: 100%;
}

.filters {
    display: flex;
    align-items: center;
    font-weight: 700;
    gap: 1.5%;
}

.filter-text {
    font-size: 1.125rem;
}

.filter-buttons {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    border: 2px #F2F2F2 solid;
    border-radius: 25px;
    font-size: 1.063rem;
    transition: 0.2s;
}

.filter-buttons:hover {
    background-color: #DEEBFF;
    transform: scale(1.05);
}

.filter-icons {
    color: #0065FC;
}

.filter-buttons-text {
    margin-left: 10px;
}

.filters-layout {
    display: flex;
    flex-wrap: nowrap;
    gap: 1.5%;
    width: 100%;
}

.informations {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-top: 16px;
}

.info-icon {
    border: 1px #F2F2F2 solid;
    border-radius: 100%;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    margin-right: 11px;
    font-size: 0.813rem;
}

.accommodations-and-popular-container {
    display: flex;
}

.accommodations-section {
    padding: 22px 40px;
    width: 66%;
}

.accommodation-card-container {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}

.accommodation-card {
    width: 30%;
}

.accommodation-card , .popular-card {
    border: 5px white solid;
}

.accommodation-card , 
.popular-card , 
.activities-card {
    display: block;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.2s;
    border-radius: 20px;
}

.accommodation-card:hover , 
.popular-card:hover , 
.activities-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.01);
}

.accommodation-card-image {
    height: 114px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.card-text {
    margin: 0em 1em; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    font-weight: 700;
    font-size: 1rem;
    margin: 0.5em 0em;
}

.card-subtitle {
    font-size: 0.875rem;
    font-weight: 600;
    margin: 0;
}

.card-rating {
    display: flex;
    margin: 0.5em 0em;
    font-size: 0.75rem;
}

.stars-checked {
    color: #0065FC;
}

.stars-unchecked {
    color: #F2F2F2;
    margin-left: 3px;
}

.accommodations-section-see-more {
    font-size: 1.125rem;
    font-weight: 700;
}

.popular-section {
    padding: 22px 40px;
    width: 31%;
    margin-left: 40px;
}

.popular-section-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chart-icon {
    color: #0065FC;
    font-size: 1.125rem;
}

.popular-card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.popular-card {
    width: 100%;
    display: flex;
    margin: 15px 0px;
    max-height: 140px;
}

.popular-card-image {
    height: 140px;
    width: 40%;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}

.activities-section {
    margin: 60px 0px;
}

.activities-card-container {
    display: flex;
    justify-content: space-between;
}

.activities-card {
    width: 22%;
}

.activities-card-image {
    height: 389px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.activities-card-text {
    margin: 4% 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    padding: 45px;
}

.footer-column-container {
    width: 33%;
    padding: 0px 30px;
}

.footer-title {
    font-weight: 700;
    font-size: 1.125rem;
}

.footer-links-list {
    list-style-type: none;
    padding: 0px;
    font-size: 1rem;
}

.footer-link {
    padding: 6px 0px;
}

.footer-link:hover {
    color: #0065FC;
}