@media screen and (min-width: 992px) {

    body {
        padding: 0px 50px;
    }

    .booki-logo {
        padding-left: 5px;
    }

    .navigation-menu-link:hover {
        color: #0065FC;
        border-top: 2px solid #0065FC;
        padding-top: 46px;
    }

    .search-section {
        padding-left: 5px;
    }

    .search-icon {
        display: none;
    }

    .accomodations-section {
        background-color: #F2F2F2;
        border-radius: 20px;

    }

    .popular-section {
        background-color: #F2F2F2;
        border-radius: 20px;
    }

}

