@media screen and (max-width: 768px) {
    
    body {
        padding: 0;
    }

    header {
        flex-direction: column;
    }

    .navigation-menu-header {
        width: 100%;
        padding: 0;
        justify-content: space-around;
    }

    .navigation-menu-link {
        border-bottom: 3px solid #F2F2F2;
        padding-bottom: 24px;
        width: 50%;
    }

    .navigation-menu-link:hover {
        color: #0065FC;
        border-top: none;
        border-bottom: 3px solid #0065FC;
        padding-bottom: 24px;
    }

    .search-section,
    .accommodations-section,
    .popular-section,
    .activities-section {
        padding: 20px;
    }

    .button-desktop-tablet {
        display: none;
    }

    .filters {
        flex-direction: column;
        align-items: flex-start;
    }

    .filters-layout {
        flex-wrap: wrap;
        gap: 1em;
    }

    .filter-buttons {
        flex: 1 1 31%;
    }

    .filter-buttons-text {
        font-size: 0.75rem;
    }

    #search-input{
        flex-shrink: 1;
    }

    .accommodations-section-see-more {
        display: none;
    }

    .accommodations-and-popular-container {
        flex-wrap: wrap-reverse;
    }

    .accommodations-section {
        border-radius: 20px;
        width: 100%;
    }

    .accommodation-card {
        width: 98%;
    }

    .popular-section {
        background-color: #F2F2F2;
        flex-direction: column;
        width: 100%;
        margin-left: 0px;
        padding-top: 10px;
        padding-bottom: 30px;
    }

    .accommodation-card-container {
        flex-direction: column;
        gap: 12px;
        padding: 12px 0px 0px 0px;
    }

    #accommodations-link {
        margin: 7px 0px;
    }

    .activities-card-container {
        flex-direction: column;
        gap: 24px;
    }

    .activities-card {
        width: 100%;
    }

    .activities-card-image {
        height: 134px;
    }

    footer {
        flex-direction: column;
        padding: 30px;
    }

    .footer-column-container {
        width: 100%;
        padding: 0;
    }

    .footer-title {
        margin: 16px 0px;
    }
}