@media screen and (min-width: 992px) {

    body {
        padding: 0px 50px;
    }

    .booki-logo {
        padding-left: 5px;
    }

    .search-section {
        padding-left: 5px;
    }

    .search-icon {
        display: none;
    }

    .accommodations-section {
        background-color: #F2F2F2;
        border-radius: 20px;

    }

    .popular-section {
        background-color: #F2F2F2;
        border-radius: 20px;
    }

}

